<nav class="navbar">
  <h1>
    <a [routerLink]="['/']">URL Shortener</a>
  </h1>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/urls/shorturl">Short Link Page</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/statistics">Top Most Used Short Links</a>
    </li>
  </ul>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
