#save {
  margin-right: 2em;
}

h3 {
  text-align: center;
  background-color: lightblue;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}

small {
  color: red;
}

label {
  margin-top: 2em;
  font-style: normal;
  font-family: Helvetica, serif;
  font-size: large;
}

input {
  margin-top: 1em;
  border-color: dimgray;
}

textarea {
  margin-top: 1em;
  border-color: dimgray;
}

form {
  background-color: floralwhite;
}

