<div class="card">

    <div class="card-header">URL Shortener With Spring Boot</div>
    <form [formGroup]="form" (ngSubmit)="createShortUrl()">

        <div class="card-body">

            <div class="form-group">
                <label for="customer_number">Customer Number:</label>
                <input type="number" id="customer_number" class="form-control" formControlName="customerNumber">
                <div class="has-validation"
                     *ngIf="form.get('customerNumber').invalid && form.get('customerNumber').touched">

                    <small *ngIf="form.get('customerNumber').errors.required">
                        The field cannot be empty. Please fill out the field.
                    </small>

                    <small *ngIf="form.get('customerNumber').errors.minLength">
                        The field must contain at least 1 character
                    </small>

                </div>
            </div>

            <div class="form-group">
                <label for="url_input">Long URL:</label>
                <input type="url" id="url_input" class="form-control" formControlName="urlInput">
                <div class="has-validation"
                     *ngIf="form.get('urlInput').invalid && form.get('urlInput').touched">

                    <small *ngIf="form.get('urlInput').errors.required">
                        The field cannot be empty. Please fill out the field.
                    </small>

                    <small *ngIf="form.get('urlInput').errors.pattern">
                        Please enter the valid e-mail
                    </small>

                </div>
            </div>

            <div class="form-group">
                <label for="expiration_date_input">Expiration Date:</label>
                <input type="datetime-local" id="expiration_date_input" class="form-control"
                       formControlName="expirationDateInput"/>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Click here to get Short URL</button>

        </div>
    </form>
</div>
